@import '@@styles/variables';
@import '@@styles/mixins';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.avatar {
  @include flexCenter;
  font-size: $font_size_24;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: $grey_200;
}

.status {
  color: $grey_200;
  background-color: $grey_900;
  padding: 4px 8px;
  border-radius: 10px;
}
