@import '@@styles/variables';

.wrapper {
  margin-top: 30px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  max-height: 300px;
  overflow: auto;
}
