@import '@@styles/variables';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  background-color: $grey_800;
  overflow: auto;
}

.count {
  color: $grey_200;
  background-color: $grey_900;
  padding: 4px 8px;
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
