@import '@@styles/variables';

.errorWrapper {
  display: flex;
  align-items: center;
  font-weight: $font_weight_500;
  color: $red_500;
  clear: both;
  flex-basis: 100%;

  &_medium {
    font-size: $font_size_12;
    line-height: $font_line_height_20;
  }

  &_large {
    font-size: $font_size_16;
    line-height: $font_line_height_22;
  }
}
