@import '@@styles/variables';

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  grid-gap: 12px;
  align-items: center;

  @media (max-width: #{$medium}px) {
    grid-template-columns: 1fr;
  }
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
}

.info {
  display: flex;
  align-items: center;
  gap: 8px;
}
