@import '@@styles/variables';

$collapser_offset: 2px;

.wrapper {
  position: fixed;
  left: $sidebar_width;
  top: 50%;
  padding: 16px;
  transform: translate(0, -50%);
  transition: $transition_default;
  opacity: 0.8;
  z-index: $collapser_z_index;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  &_hide {
    left: 0;
  }

  &_show {
    left: $sidebar_width;
  }
}

.collapser {
  border-radius: 2px;
  width: 4px;
  height: 16px;
  background-color: $grey_600;
  transition: $transition_default;

  &__top {
    &_hide {
      transform: translate(0, $collapser_offset) rotate(25deg);
    }

    &_show {
      transform: translate(0, $collapser_offset) rotate(-25deg);
    }
  }

  &__bottom {
    &_hide {
      transform: translate(0, -$collapser_offset) rotate(-25deg);
    }

    &_show {
      transform: translate(0, -$collapser_offset) rotate(25deg);
    }
  }
}
