@import '@@styles/variables';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: $transition_default;

  &_withSidebar {
    margin-left: $sidebar_width;

    @media (max-width: #{$medium}px) {
      margin-left: 0;
    }
  }
}
