@import '@@styles/variables';

.typography {
  margin: 0;

  &_h1 {
    font-family: $font_catamaran;
    font-size: $font_size_34;
    line-height: $font_line_height_42;
    font-weight: $font_weight_600;
  }

  &_subheading1 {
    font-family: $font_noto_sans;
    font-size: $font_size_22;
    line-height: $font_line_height_34;
    font-weight: $font_weight_600;
  }

  &_subheading2 {
    font-family: $font_noto_sans;
    font-size: $font_size_18;
    line-height: $font_line_height_30;
    font-weight: $font_weight_600;
  }

  &_body {
    font-family: $font_noto_sans;
    font-size: $font_size_16;
    line-height: $font_line_height_24;
    font-weight: $font_weight_400;
  }

  &_bodyRegular {
    font-family: $font_noto_sans;
    font-size: $font_size_16;
    line-height: $font_line_height_20;
    font-weight: $font_weight_400;
  }

  &_bodyBold {
    font-family: $font_noto_sans;
    font-size: $font_size_16;
    line-height: $font_line_height_24;
    font-weight: $font_weight_600;
  }

  &_note {
    font-family: $font_noto_sans;
    font-size: $font_size_14;
    line-height: $font_line_height_20;
    font-weight: $font_weight_400;
  }

  &_description {
    font-family: $font_noto_sans;
    font-size: $font_size_11;
    line-height: $font_line_height_20;
    font-weight: $font_weight_500;
  }

  &_color {
    &_white_1000 {
      color: $white_1000;
    }

    &_blue_700 {
      color: $blue_700;
    }

    &_grey_200 {
      color: $grey_200;
    }

    &_grey_700 {
      color: $grey_700;
    }

    &_grey_600 {
      color: $grey_600;
    }
  }

  &_bottomOffset {
    &_0 {
      margin-bottom: 0;
    }

    &_2 {
      margin-bottom: 2px;
    }

    &_4 {
      margin-bottom: 4px;
    }

    &_8 {
      margin-bottom: 8px;
    }

    &_12 {
      margin-bottom: 12px;
    }

    &_16 {
      margin-bottom: 16px;
    }

    &_20 {
      margin-bottom: 20px;
    }

    &_24 {
      margin-bottom: 24px;
    }
  }

  &_block {
    display: block;
  }

  &_inline {
    display: inline;
  }

  &_wrap {
    text-wrap: wrap;
  }
}
