@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumn() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
